<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.avariohome.avario">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-feature android:name="android.hardware.bluetooth_le"  android:required="true" />

    <application
        android:name=".Application"
        android:allowBackup="false"
        android:icon="@mipmap/ic__launcher"
        android:label="@string/app__name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">

        <!--
            android:launchMode="singleTask"
            android:stateNotNeeded="true"
        -->
        <activity
            android:name=".activity.BootActivity"
            android:theme="@style/AppTheme.NoActivityAnim"
            android:configChanges="orientation|keyboardHidden|screenSize">

            <!-- Comment this block for app launcher -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.HOME"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            -->
        </activity>

        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="sensorLandscape"
            android:configChanges="keyboardHidden|orientation"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:stateNotNeeded="true"/>

        <service android:name="org.eclipse.paho.android.service.MqttService"/>

        <service android:name=".service.FCMService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service android:name=".service.FCMInstanceService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <service android:name=".service.FCMIntentService"/>

        <!-- Temporary Values: For Handset mode -->
        <!--
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic__placeholder"/>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/light1"/>
        -->
    </application>
</manifest>
